.header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: #F6F6FA;
}
.header h1 {
    margin-left: 120px;
    
}

.header .search-bar {
    margin-right: 150px;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
}

@media all and (max-width: 1300px) and (min-width:801px) {
    .header {
        padding-top: 60px;
    }
}
@media all and (max-width: 800px) {
    .header {
        flex-direction: column;
        padding-top: 60px;
        align-items: center;
    }
    .header .search-bar {
        margin-left: 300px;
    }

}
